<% contentFor("subtitle") { %>
	<div class="subtitle">
		<div class="container">
			<h3><%= article.Title %></h3>
			<div class="link"><a href="<%= newArticlesPath() %>">New</a></div>
			<div class="link"><a href="<%= articlesPath() %>">List</a></div>
	  	</div>
 	</div>
<% } %>
<%= form_for(article, {action: articlePath({ article_id: article.ID }), method: "PUT"}) { %>
	<%= partial("articles/form.html") %>
	<a href="<%= articlePath({ article_id: article.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
