<% contentFor("subtitle") { %>
	<div class="subtitle">
		<div class="container">
			<h3>Article</h3>
			<div class="link"><a href="<%= newArticlesPath() %>">New</a></div>
	  	</div>
 	</div>
<% } %>
<table class="table table-striped">
	<thead>
		<th>Title</th>
			<th>Content</th>
			<th>&nbsp;</th>
		</thead>
	<tbody>
		<%= for (article) in articles { %>
			<tr>
			<td><%= article.Title %></td>
			<% let content = replace(stripTag(article.Content), "&nbsp;", " ", 0-1)%>
				<td><%= truncate(content, {"size": 50}) %></td>
				<td>
				<div class="pull-right">
					<a href="<%= articlePath({ article_id: article.ID }) %>" class="btn btn-info">View</a>
					<a href="<%= editArticlePath({ article_id: article.ID }) %>" class="btn btn-warning">Edit</a>
					<a href="<%= articlePath({ article_id: article.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
				</div>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>

<%= partial("page_indicator.html", {plural: "Articles", basePath: articlesPath()}) %>
